apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
type: Opaque
stringData:
  APP_KEY: {{ .Values.app.key | default "" | quote }}
  DB_PASSWORD: {{ .Values.mysql.auth.password | default "" | quote }}
  REDIS_PASSWORD: {{ .Values.redis.auth.password | default "" | quote }}
  MAIL_USERNAME: {{ .Values.laravel.mail.username | default "" | quote }}
  MAIL_PASSWORD: {{ .Values.laravel.mail.password | default "" | quote }}
